<div class="body">


    <div class="container ">
        <div class="jumbotron">
            <h1 class="display-4">Hola, Bievenidos a mi blog!</h1>
            <p class="lead">Si quieres saber mas acerca de mis productos, ponte en contacto</p>
            <hr class="my-4">
            <a class="btn btn-outline-primary" href="#" role="button">Contactar.</a>
        </div>
    </div>

</div>


<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card mb-3">
                <img src="../../../../assets/images/cards/cells.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ver entrada...</button>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card mb-3">
                <img src="../../../../assets/images/cards/cells.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ver entrada...</button>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <app-blog></app-blog>
        </div>
        
        <div class="col-md-3">
            <div class="card mb-3">
                <img src="../../../../assets/images/cards/cells.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ver entrada...</button>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card mb-3">
                <img src="../../../../assets/images/cards/cells.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                        <button type="button" class="btn btn-outline-primary btn-lg btn-block">Ver entrada...</button>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>


        </div>
    </div>
</div>