<div class="container">

    <div class="espacio"></div>

    <h2>Contacto</h2>
    <hr>


    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Introduce tu nombre">
            <small class="form-text text-muted">Nunca compartiremos tu informacion con alguien
                mas.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Direccion de correo</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Introduce tu correo">
            <small class="form-text text-muted">Nunca compartiremos tu correo con alguien
                mas.</small>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Mensaje</label>
            <textarea class="form-control" rows="3" placeholder="Escribe tu mensaje"></textarea>
        </div>

        <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Submit</button>
    </form>





</div>