<!-- Footer -->
<footer>
    <div class="container" style="padding: 80px 0;" align="center">
        <a href="#">
            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x zoom"></i>
        </a>
        <a href="#">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x zoom"></i>
        </a>

        <a href="#">
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x zoom"></i>
        </a>
        <a href="#">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x zoom"></i>
        </a>

    </div>
    <div style="background: #004872;">
        <p style="color: #91BEC2; padding: 15px 0;" align="center">
            &copy; {{fecha}} Copyright: <a href="mailto:ferjaviramirez@gmail.com">Created By: Fernando Ramirez</a>
        </p>
    </div>
</footer>